name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  macOS:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_16.0.app/Contents/Developer

    - name: Configure git for private repos
      run: git config --global url."https://${{ secrets.GH_PAT }}@github.com/".insteadOf "https://github.com/"

    - name: Build
      run: swift build -v

    - name: Run tests
      run: swift test -v

  linux:
    runs-on: ubuntu-latest
    container: swift:6.0

    steps:
    - uses: actions/checkout@v4

    - name: Fix git permissions
      run: git config --global --add safe.directory /__w/swift-algokit/swift-algokit

    - name: Configure git for private repos
      run: git config --global url."https://${{ secrets.GH_PAT }}@github.com/".insteadOf "https://github.com/"

    - name: Build
      run: swift build -v

    - name: Run tests
      run: swift test -v
